*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: Lato, 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #333;
}
body {
  margin: 0;
}
body {
  padding: 2rem;
  background: #eeeef6;
}
a {
  text-decoration: none;
  color: #0000cc;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .1ch;
  color: #121221;
  margin: 0 0 1em;
  padding: 0 0 1em;
  line-height: 1;
  position: relative;
}
h1:after {
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  width: 80px;
  bottom: 0;
  background: #5c3df5;
}
input[type=text] {
  font-weight: 300;
  display: block;
  background: transparent;
  color: #888;
  border: none;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family: inherit;
  width: 100%;
  outline: none;
  transition: 300ms ease;
}
input[type=text]:focus {
  background: #f8f8f8;
}
.wrap {
  margin: 0 auto;
  max-width: 720px;
}
.app {
  padding: 0 0 3px;
  margin: 0 auto;
  background: lightgray;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  display: flex;
  width: 100%;
}
.app::after {
  display: block;
  position: absolute;
  content: '';
  bottom: 0;
  height: 3px;
  width: 100%;
  border-radius: 0 0 50px 50px;
}
.task-form {
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #dedeed;
  width:38%;
  vertical-align: top;
  position: relative;
}
.task-list {
  padding: 2%;
  background: darkgray;
  margin: 0;
  width:38%;
  vertical-align: top;
}
.task-list li {
  list-style: none;
  padding: .5rem 1rem;
  background: #ffffff;
  margin-bottom: 5px;
}
.task-list li:hover .task-item-remove {
  display: block;
  cursor: pointer;
}
.task-list li:hover input[type=checkbox] + label::before{
  border: 2px solid #dedeed;
}
.task-list li:hover{
  background: rgb(127, 97, 209);
}
.task-controls {
  padding: .5rem 0;
  width:23%;
  vertical-align: top;
}
.task-controls span {
  float: right;
  height: 2rem;
  line-height: 2rem;
  color: #9b9ba6;
}
.task-controls button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: .8rem;
  border: none;
  padding: .5rem 1rem;
  border-radius: 100px 0 0 100px;
  margin-right: .5rem;
  background-color: transparent;
  transition: 150ms ease;
  color: #6f6f77;
  font-weight: 600;
  width: 100%;
}
.task-controls button:hover {
  box-shadow: none;
  background-color: #ffffff;
}
.task-controls button:hover i {
  color: #e14;
}
.task-controls button:active,
.task-controls button.btn-active {
  background-color: darkgray;
}
.modal-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-tags {
  padding: .5rem 1rem;
  border-bottom: 1px solid #f0eef6;
}
.task-tags > span {
  color: #9b9ba6;
}
.task-tags button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: .8rem;
  border: none;
  border-radius: 100px;
  padding: .1rem .5rem .1rem .25rem;
  margin-right: .5rem;
  transition: 300ms ease;
  font-weight: 600;
  color: #6f6f77;
}
.task-tags button span {
  border-radius: 100px;
  height: .75em;
  width: .75em;
  display: inline-block;
  margin-right: .5rem;
  vertical-align: baseline;
}
.task-input {
  width: calc(92%);
  float: left;
  background: transparent;
}
.task-add-button {
  position: absolute;
  bottom: 2px;
  left: 41%;
}
.task-form > .task-add-button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 16px !important;
  border: none;
  padding: 5px;
  color: #ffffff;
  font-size: 2rem;
  background: orangered;
}
.task-add-button:hover {
  background:peru;
}
.task-add-button:active {
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
  background: #e6e6e6;
}
.task-item-remove {
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: .8rem;
  position: relative;
  float: right;
  display: none;
  height: 2rem;
  width: 2rem;
  border: none;
  padding: 0;
  background: transparent;
  transition: 300ms ease;
}
.task-item-remove svg {
  display: block;
  stroke: #ffffff;
  stroke-width: 2px;
  stroke-linecap: round;
  width: 20px;
  height: 20px;
  color: #ffffff;
}
.task-item-remove:hover svg {
  stroke: #e14;
}
.task-item-remove::before {
  transform: rotate(-45deg);
}
.task-item-remove::after {
  transform: rotate(45deg);
}
.task-item-checked {
  color: #888;
}
input[type=checkbox] {
  display: none;
  position: relative;
}
input[type=checkbox] + label {
  padding-left: 2rem;
  position: relative;
  transition: color 150ms ease;
  height: 2rem;
  line-height: 2rem;
}
input[type=checkbox] + label .task-strike {
  position: absolute;
  display: block;
  height: 2px;
  right: 0;
  left: 2rem;
  top: 50%;
  background:lightgrey;
  transition: 450ms ease;
  transform: scaleX(0);
  transform-origin: left;
}
input[type=checkbox] + label::before,
input[type=checkbox] + label::after {
  display: block;
  position: absolute;
  content: '';
}
input[type=checkbox] + label::before {
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  margin-right: .5rem;
  top: calc((100% - 1.25rem) / 2);
  border: 2px solid #5c3df5;
  border-radius: 50px;
}
input[type=checkbox] + label::after {
  left: 0.3125rem;
  top: 0.38329404rem;
  height: 0.35714286rem;
  width: 0.625rem;
  margin-right: .5rem;
  border-left: 2px solid #e01212;
  border-bottom: 2px solid #e01212;
  transform: rotate(-45deg) scale(0.5);
  transform-origin: 50% 50%;
  opacity: 0;
  transition: 150ms ease-in-out;
}
input[type=checkbox]:checked + label {
  color: #ccc;
}
input[type=checkbox]:checked + label .task-strike {
  transform: scaleX(1);
}
input[type=checkbox]:checked + label::after {
  opacity: 1;
  transform: rotate(-45deg) scale(1);
}